img {
	border:none;	
}
.main_include {
	padding:0;	
}
.propertygroup {
	padding:20px;	
	float:left;
}
.mygrid {
	height:420px;	
}
.tb th{
	text-align:left;
	font-size:1.2em;
	padding:5px 10px;
	background-color:#EAEBFF;
	height:30px;
}

.tb td{
	font-size:1.2em;
	padding:5px 10px;
	height:20px;
	border:1px #E7E7E7 dotted;
}

.notb td {
	padding:0;	
}

.tb .numvalue {
	width:60px;	
}
.tb input {
	width:250px;	
}
.tb input[type=radio] {
	width:auto;
}

#footer {
	font-size:.8em;
	text-align:center;
}